In [1]:
from pyper.viper_interface.viper_classes import PolhemusViper
from pyper.io.io_utils import extract_data_from_standard_frame
from threading import Event
from multiprocessing.pool import ThreadPool
import time
import pandas as pd
import pickle
import os

In [2]:
viper = PolhemusViper()
viper.connect()

In [3]:
viper.get_units()

The current position units are: cm
The current orientation units are: euler_degree

In [26]:
viper.get_single_pno(pno_mode="standard")

,sensor_n,frames,time,x,y,z,azimuth,elevation,roll
0,1,40609,2022-05-11T19:03:56.943241,-7.628684,-37.474262,2.831857,35.957726,-1.288270,101.967705
1,2,40609,2022-05-11T19:03:56.943241,25.371098,21.240833,-33.338326,-28.417830,4.344117,-117.259178
2,3,40609,2022-05-11T19:03:56.943241,13.022754,35.934177,-2.844942,58.329834,13.740723,-59.272991
3,4,40609,2022-05-11T19:03:56.943241,12.574263,37.421478,-2.631399,161.658615,4.829669,24.406881

In [19]:

viper.get_single_pno(pno_mode="standard")

,sensor_n,frames,time,x,y,z,azimuth,elevation,roll
0,1,13888,2022-05-11T12:07:36.585701,31.671909,40.457714,-1.835799,-164.112228,-38.624260,136.971359
1,2,13888,2022-05-11T12:07:36.585701,34.309631,41.671993,-4.011912,-163.722168,-33.588161,-129.451920
2,3,13888,2022-05-11T12:07:36.585701,38.697376,44.033562,-5.642857,-159.948883,-16.115953,-73.521637
3,4,13888,2022-05-11T12:07:36.585701,46.680897,45.871166,-3.854160,-160.733521,-5.408925,45.153000

In [11]:
viper.get_single_pno(pno_mode="acceleration")

,sensor_n,frames,time,x,y,z,azimuth,elevation,roll,x_acc,y_acc,z_acc,xyz_acc_magnitude
0,1,15484,2022-05-11T12:03:03.967425,48.392876,-33.740337,-57.040180,-144.058228,-86.237183,-131.116333,12.035156,8.342285,0.0,0.0
1,2,15484,2022-05-11T12:03:03.967425,56.324326,-32.825191,-53.991306,-29.613647,-86.198730,111.412354,-2.178711,-7.611816,0.0,0.0
2,3,15484,2022-05-11T12:03:03.967425,69.845627,-39.738663,-36.733589,-178.775024,-85.989990,2.603760,5.784180,-7.678223,0.0,0.0

In [27]:
viper.start_continuous()

[86, 80, 82, 67, 24, 0, 0, 0, 0, 0, 0, 0, 19, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 103, 246, 0, 0]

In [11]:
viper.start_continuous(pno_mode="acceleration", frame_counting="reset_frames")

[86, 80, 82, 67, 24, 0, 0, 0, 0, 0, 0, 0, 19, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 102, 10, 0, 0]

In [3]:
viper.stop_continuous()

[86, 80, 82, 80, 116, 0, 0, 0, 0, 0, 0, 0, 181, 155, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 66, 42, 0, 14, 153, 127, 66, 76, 211, 79, 66, 12, 233, 189, 193, 179, 232, 164, 194, 151, 68, 2, 193, 21, 74, 2, 67, 0, 0, 0, 0, 1, 130, 36, 0, 87, 188, 138, 66, 53, 10, 67, 66, 76, 231, 202, 193, 231, 143, 181, 194, 114, 217, 222, 64, 120, 217, 6, 195, 0, 0, 0, 0, 3, 2, 23, 0, 140, 196, 152, 66, 245, 188, 76, 66, 228, 219, 51, 193, 244, 110, 189, 194, 16, 191, 237, 65, 139, 127, 17, 66, 0, 0, 0, 0, 40, 194, 0, 0]
Continuous streaming stopped

In [33]:
stop_con = Event()
pool = ThreadPool(processes=1)
async_result = pool.apply_async(viper.read_continuous, [stop_con])

time.sleep(2)



stop_con.set()
df = async_result.get()
# df = Thread(target=viper.read_continuous, args=(dev, ep, stop_con), daemon=True).start()

CRC16 error
CRC16 error

In [12]:
viper.dev.read(viper.endpoint, 1024, 200)

array('B', [86, 80, 82, 80, 148, 0, 0, 0, 0, 0, 0, 0, 8, 0, 0, 0, 16, 0, 0, 0, 4, 0, 0, 0, 0, 66, 53, 0, 24, 85, 86, 66, 162, 115, 170, 65, 221, 32, 44, 193, 200, 177, 30, 67, 145, 192, 172, 193, 204, 56, 10, 194, 0, 0, 0, 0, 1, 194, 51, 0, 120, 170, 87, 66, 110, 208, 190, 65, 181, 56, 80, 193, 39, 213, 44, 67, 160, 52, 64, 193, 18, 170, 119, 66, 0, 0, 0, 0, 2, 2, 49, 0, 112, 15, 86, 66, 63, 148, 214, 65, 174, 67, 135, 193, 148, 209, 4, 195, 17, 9, 197, 191, 57, 170, 187, 194, 0, 0, 0, 0, 3, 66, 37, 0, 35, 216, 80, 66, 244, 135, 6, 66, 8, 37, 193, 193, 5, 87, 2, 195, 200, 60, 138, 193, 102, 27, 180, 64, 0, 0, 0, 0, 198, 13, 0, 0])

In [29]:
from pyper.io import io_utils
import os
import pickle

In [34]:
df1 = pd.DataFrame()
for i in range(len(df)):
    df2 = io_utils.extract_data_from_acceleration_frame(df[i], "continuous", orientation="euler_degree", conv_factor=viper.conf['conversion_factor']['euler_degree'])
    df1 = pd.concat([df1, df2], ignore_index=True)
# df1[30:100]

In [35]:
df1

,sensor_n,frames,time,x,y,z,azimuth,elevation,roll,x_acc,y_acc,z_acc,xyz_acc_magnitude
0,1,19251,2022-05-11T19:05:32.298738,-7.690121,-37.475742,2.827264,113.631592,92.894897,-77.124023,-11.331543,8.348633,0.0,0.0
1,2,19251,2022-05-11T19:05:32.298738,9.257854,34.658493,-2.937850,124.738770,91.675415,33.107300,15.423340,-7.643066,0.0,0.0
2,3,19251,2022-05-11T19:05:32.298738,14.260909,35.652046,-2.911900,-134.187012,93.229980,-96.613770,-14.860840,-7.698730,0.0,0.0
3,4,19251,2022-05-11T19:05:32.298738,12.422385,37.503506,-2.701510,-112.648315,94.400024,-119.003906,-13.751465,8.226562,0.0,0.0
4,1,19253,2022-05-11T19:05:32.303977,-7.691439,-37.475430,2.825135,109.319458,92.894897,-66.483765,-11.529297,8.348633,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
955,4,19731,2022-05-11T19:05:34.296069,12.428126,37.505886,-2.700237,-114.235840,94.400024,-148.337402,-12.555664,8.226562,0.0,0.0
956,1,19733,2022-05-11T19:05:34.303885,-7.694642,-37.478592,2.820153,103.024292,92.894897,-9.635010,-9.214355,8.348633,0.0,0.0
957,2,19733,2022-05-11T19:05:34.303885,9.255428,34.664059,-2.933860,-171.221924,91.675415,-13.474731,13.995605,-7.643066,0.0,0.0
958,3,19733,2022-05-11T19:05:34.303885,14.263865,35.655289,-2.906322,-137.944336,93.229980,81.842651,11.651367,-7.698730,0.0,0.0
959,4,19733,2022-05-11T19:05:34.303885,12.427993,37.505783,-2.702368,-114.411621,94.400024,163.289795,-10.626953,8.226562,0.0,0.0

In [3]:
viper.get_single_pno(dev=dev, ep=ep, pno_mode="standard")

error: unpack requires a buffer of 4 bytes