In [1]:
from pyper.viper_interface.viper_classes import PolhemusViper
from pyper.io.io_utils import extract_data_from_standard_frame
from threading import Event
from multiprocessing.pool import ThreadPool
import time
import pandas as pd
import pickle
import os

In [2]:
viper = PolhemusViper()
viper.connect()

In [3]:
viper.get_units()

The current position units are: cm
The current orientation units are: euler_degree

In [9]:
t = viper.get_single_pno(pno_mode="standard")
if t is None:
    print(True)
t
# t.loc[t['sensor_n'] == 1, ['z']].values - (t.loc[t['sensor_n'] == 1, ['z']].values * 0.8)

,sensor_n,frames,time,x,y,z,azimuth,elevation,roll
0,1,33179,2022-05-25T10:45:28.817501,36.523415,4.732285,8.601525,95.271935,2.540353,52.533340
1,2,33179,2022-05-25T10:45:28.817501,17.669222,-3.788903,3.877875,149.130753,5.118566,12.756581
2,3,33179,2022-05-25T10:45:28.817501,36.957561,5.087067,9.770947,51.868900,-24.304998,155.963577
3,4,33179,2022-05-25T10:45:28.817501,71.969780,-56.812595,9.193461,-177.962967,11.000721,1.089421

In [11]:

s = viper.get_single_pno(pno_mode="standard")
s['x']

0    34.052952
1    35.890385
Name: x, dtype: float64

In [65]:
viper.get_single_pno(pno_mode="acceleration")

,sensor_n,frames,time,x,y,z,azimuth,elevation,roll,x_acc,y_acc,z_acc,xyz_acc_magnitude
0,1,8936,2022-05-25T10:23:06.140577,35.875923,-0.334439,10.220673,97.009277,17.924194,48.054199,0.000000,-0.009277,0.000488,0.009277
1,2,8936,2022-05-25T10:23:06.140577,18.947844,-2.922719,3.873665,130.078125,3.779297,93.592529,0.000000,0.000000,0.000000,0.000488
2,3,8936,2022-05-25T10:23:06.140577,36.637363,4.648568,10.148135,34.661865,-13.408813,165.454102,0.000488,-0.001953,0.004883,0.005371
3,4,8936,2022-05-25T10:23:06.140577,71.340141,-58.130985,8.807875,179.445190,10.557861,-1.351318,0.026367,-0.023926,-0.127441,0.132324

In [32]:
viper.start_continuous()

[86, 80, 82, 67, 24, 0, 0, 0, 0, 0, 0, 0, 19, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 103, 246, 0, 0]

In [156]:
viper.start_continuous(pno_mode="acceleration", frame_counting="reset_frames")

[86, 80, 82, 67, 24, 0, 0, 0, 0, 0, 0, 0, 19, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 102, 10, 0, 0]

In [155]:
viper.stop_continuous()

[86, 80, 82, 67, 168, 0, 0, 0, 0, 0, 0, 0, 18, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 142, 23, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 66, 33, 0, 33, 129, 15, 66, 0, 156, 172, 190, 9, 143, 35, 65, 58, 7, 194, 66, 60, 74, 143, 65, 8, 60, 64, 66, 0, 0, 0, 0, 1, 66, 23, 0, 50, 149, 151, 65, 32, 14, 59, 192, 74, 241, 119, 64, 135, 21, 2, 67, 148, 67, 114, 64, 163, 51, 187, 66, 0, 0, 0, 0, 2, 2, 44, 0, 223, 141, 18, 66, 235, 169, 148, 64, 55, 97, 34, 65, 7, 156, 10, 66, 98, 199, 86, 193, 213, 119, 37, 67, 0, 0, 0, 0, 3, 194, 29, 0, 65, 174, 142, 66, 128, 94, 104, 194, 165, 191, 14, 65, 3, 130, 51, 67, 33, 141, 45, 65, 19, 3, 172, 191, 0, 0, 0, 0, 22, 51, 0, 0]
Continuous streaming stopped

In [33]:
stop_con = Event()
pool = ThreadPool(processes=1)
async_result = pool.apply_async(viper.read_continuous, [stop_con])

time.sleep(2)



stop_con.set()
df = async_result.get()
# df = Thread(target=viper.read_continuous, args=(dev, ep, stop_con), daemon=True).start()

CRC16 error
CRC16 error

In [12]:
viper.dev.read(viper.endpoint, 1024, 200)

array('B', [86, 80, 82, 80, 148, 0, 0, 0, 0, 0, 0, 0, 8, 0, 0, 0, 16, 0, 0, 0, 4, 0, 0, 0, 0, 66, 53, 0, 24, 85, 86, 66, 162, 115, 170, 65, 221, 32, 44, 193, 200, 177, 30, 67, 145, 192, 172, 193, 204, 56, 10, 194, 0, 0, 0, 0, 1, 194, 51, 0, 120, 170, 87, 66, 110, 208, 190, 65, 181, 56, 80, 193, 39, 213, 44, 67, 160, 52, 64, 193, 18, 170, 119, 66, 0, 0, 0, 0, 2, 2, 49, 0, 112, 15, 86, 66, 63, 148, 214, 65, 174, 67, 135, 193, 148, 209, 4, 195, 17, 9, 197, 191, 57, 170, 187, 194, 0, 0, 0, 0, 3, 66, 37, 0, 35, 216, 80, 66, 244, 135, 6, 66, 8, 37, 193, 193, 5, 87, 2, 195, 200, 60, 138, 193, 102, 27, 180, 64, 0, 0, 0, 0, 198, 13, 0, 0])

In [29]:
from pyper.io import io_utils
import os
import pickle

In [34]:
df1 = pd.DataFrame()
for i in range(len(df)):
    df2 = io_utils.extract_data_from_acceleration_frame(df[i], "continuous", orientation="euler_degree", conv_factor=viper.conf['conversion_factor']['euler_degree'])
    df1 = pd.concat([df1, df2], ignore_index=True)
# df1[30:100]

In [35]:
df1

,sensor_n,frames,time,x,y,z,azimuth,elevation,roll,x_acc,y_acc,z_acc,xyz_acc_magnitude
0,1,19251,2022-05-11T19:05:32.298738,-7.690121,-37.475742,2.827264,113.631592,92.894897,-77.124023,-11.331543,8.348633,0.0,0.0
1,2,19251,2022-05-11T19:05:32.298738,9.257854,34.658493,-2.937850,124.738770,91.675415,33.107300,15.423340,-7.643066,0.0,0.0
2,3,19251,2022-05-11T19:05:32.298738,14.260909,35.652046,-2.911900,-134.187012,93.229980,-96.613770,-14.860840,-7.698730,0.0,0.0
3,4,19251,2022-05-11T19:05:32.298738,12.422385,37.503506,-2.701510,-112.648315,94.400024,-119.003906,-13.751465,8.226562,0.0,0.0
4,1,19253,2022-05-11T19:05:32.303977,-7.691439,-37.475430,2.825135,109.319458,92.894897,-66.483765,-11.529297,8.348633,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
955,4,19731,2022-05-11T19:05:34.296069,12.428126,37.505886,-2.700237,-114.235840,94.400024,-148.337402,-12.555664,8.226562,0.0,0.0
956,1,19733,2022-05-11T19:05:34.303885,-7.694642,-37.478592,2.820153,103.024292,92.894897,-9.635010,-9.214355,8.348633,0.0,0.0
957,2,19733,2022-05-11T19:05:34.303885,9.255428,34.664059,-2.933860,-171.221924,91.675415,-13.474731,13.995605,-7.643066,0.0,0.0
958,3,19733,2022-05-11T19:05:34.303885,14.263865,35.655289,-2.906322,-137.944336,93.229980,81.842651,11.651367,-7.698730,0.0,0.0
959,4,19733,2022-05-11T19:05:34.303885,12.427993,37.505783,-2.702368,-114.411621,94.400024,163.289795,-10.626953,8.226562,0.0,0.0

In [3]:
viper.get_single_pno(dev=dev, ep=ep, pno_mode="standard")

error: unpack requires a buffer of 4 bytes