In [1]:
from pyper.viper_interface.viper_classes import PolhemusViper
from pyper.io.io_utils import extract_data_from_standard_frame
from threading import Event
from multiprocessing.pool import ThreadPool
import time
import pandas as pd

In [2]:
viper = PolhemusViper()
viper.connect()

In [4]:
viper.get_units()

b'\xf08\x00\x00' [86, 80, 82, 67, 32, 0, 0, 0, 0, 0, 0, 0, 7, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 240, 56, 0, 0]
The current position units are: cm
The current orientation units are: euler_degree

In [3]:
viper.get_single_pno(pno_mode="standard")

b'\xa5\xbe\x00\x00' [86, 80, 82, 67, 168, 0, 0, 0, 0, 0, 0, 0, 18, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 125, 124, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 2, 39, 0, 189, 30, 64, 194, 23, 141, 12, 194, 168, 153, 127, 65, 21, 95, 40, 67, 128, 146, 99, 194, 212, 78, 180, 193, 0, 0, 0, 0, 1, 66, 42, 0, 175, 0, 79, 66, 154, 52, 6, 66, 194, 246, 142, 193, 223, 145, 47, 67, 151, 188, 33, 194, 41, 50, 133, 66, 0, 0, 0, 0, 2, 194, 47, 0, 61, 106, 89, 66, 107, 57, 2, 66, 199, 209, 167, 193, 13, 10, 45, 195, 188, 219, 133, 193, 15, 92, 88, 65, 0, 0, 0, 0, 3, 130, 37, 0, 8, 240, 97, 66, 210, 164, 26, 66, 251, 50, 183, 193, 87, 10, 255, 194, 207, 124, 83, 193, 36, 146, 46, 192, 0, 0, 0, 0, 165, 190, 0, 0]
[86, 80, 82, 67, 168, 0, 0, 0, 0, 0, 0, 0, 18, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 125, 124, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 2, 39, 0, 189, 30, 64, 194, 23, 141, 12, 194, 168, 153, 127, 65, 21, 95, 40, 67, 128, 146, 99, 194, 212, 78, 180, 193, 0, 0, 0, 0, 1, 66, 42, 0, 175, 0, 79, 66, 154, 52, 6, 66, 194, 246, 142, 193, 223, 145, 47, 67, 151, 188, 33, 194, 41, 50, 133, 66, 0, 0, 0, 0, 2, 194, 47, 0, 61, 106, 89, 66, 107, 57, 2, 66, 199, 209, 167, 193, 13, 10, 45, 195, 188, 219, 133, 193, 15, 92, 88, 65, 0, 0, 0, 0, 3, 130, 37, 0, 8, 240, 97, 66, 210, 164, 26, 66, 251, 50, 183, 193, 87, 10, 255, 194, 207, 124, 83, 193, 36, 146, 46, 192, 0, 0, 0, 0, 165, 190, 0, 0]

,sensor_n,frames,time,x,y,z,azimuth,elevation,roll
0,1,31869,2022-05-11T12:37:29.189023,-48.030018,-35.137783,15.975014,168.371414,-56.893066,-22.538490
1,2,31869,2022-05-11T12:37:29.189023,51.750668,33.551369,-17.870487,175.569809,-40.434170,66.597969
2,3,31869,2022-05-11T12:37:29.189023,54.353748,32.556072,-20.977430,-173.039261,-16.732292,13.522475
3,4,31869,2022-05-11T12:37:29.189023,56.484406,38.660957,-22.899893,-127.520195,-13.217971,-2.727670

In [19]:

viper.get_single_pno(pno_mode="standard")

,sensor_n,frames,time,x,y,z,azimuth,elevation,roll
0,1,13888,2022-05-11T12:07:36.585701,31.671909,40.457714,-1.835799,-164.112228,-38.624260,136.971359
1,2,13888,2022-05-11T12:07:36.585701,34.309631,41.671993,-4.011912,-163.722168,-33.588161,-129.451920
2,3,13888,2022-05-11T12:07:36.585701,38.697376,44.033562,-5.642857,-159.948883,-16.115953,-73.521637
3,4,13888,2022-05-11T12:07:36.585701,46.680897,45.871166,-3.854160,-160.733521,-5.408925,45.153000

In [11]:
viper.get_single_pno(pno_mode="acceleration")

,sensor_n,frames,time,x,y,z,azimuth,elevation,roll,x_acc,y_acc,z_acc,xyz_acc_magnitude
0,1,15484,2022-05-11T12:03:03.967425,48.392876,-33.740337,-57.040180,-144.058228,-86.237183,-131.116333,12.035156,8.342285,0.0,0.0
1,2,15484,2022-05-11T12:03:03.967425,56.324326,-32.825191,-53.991306,-29.613647,-86.198730,111.412354,-2.178711,-7.611816,0.0,0.0
2,3,15484,2022-05-11T12:03:03.967425,69.845627,-39.738663,-36.733589,-178.775024,-85.989990,2.603760,5.784180,-7.678223,0.0,0.0

In [4]:
viper.start_continuous()

[86, 80, 82, 67, 24, 0, 0, 0, 0, 0, 0, 0, 19, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 103, 246, 0, 0]

In [11]:
viper.start_continuous(pno_mode="acceleration", frame_counting="reset_frames")

[86, 80, 82, 67, 24, 0, 0, 0, 0, 0, 0, 0, 19, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 102, 10, 0, 0]

In [3]:
viper.stop_continuous()

[86, 80, 82, 80, 116, 0, 0, 0, 0, 0, 0, 0, 181, 155, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 66, 42, 0, 14, 153, 127, 66, 76, 211, 79, 66, 12, 233, 189, 193, 179, 232, 164, 194, 151, 68, 2, 193, 21, 74, 2, 67, 0, 0, 0, 0, 1, 130, 36, 0, 87, 188, 138, 66, 53, 10, 67, 66, 76, 231, 202, 193, 231, 143, 181, 194, 114, 217, 222, 64, 120, 217, 6, 195, 0, 0, 0, 0, 3, 2, 23, 0, 140, 196, 152, 66, 245, 188, 76, 66, 228, 219, 51, 193, 244, 110, 189, 194, 16, 191, 237, 65, 139, 127, 17, 66, 0, 0, 0, 0, 40, 194, 0, 0]
Continuous streaming stopped

In [5]:
stop_con = Event()
pool = ThreadPool(processes=1)
async_result = pool.apply_async(viper.read_continuous, [stop_con])

time.sleep(2)



stop_con.set()
df = async_result.get()
# df = Thread(target=viper.read_continuous, args=(dev, ep, stop_con), daemon=True).start()

CRC16 error

In [12]:
viper.dev.read(viper.endpoint, 1024, 200)

array('B', [86, 80, 82, 80, 148, 0, 0, 0, 0, 0, 0, 0, 8, 0, 0, 0, 16, 0, 0, 0, 4, 0, 0, 0, 0, 66, 53, 0, 24, 85, 86, 66, 162, 115, 170, 65, 221, 32, 44, 193, 200, 177, 30, 67, 145, 192, 172, 193, 204, 56, 10, 194, 0, 0, 0, 0, 1, 194, 51, 0, 120, 170, 87, 66, 110, 208, 190, 65, 181, 56, 80, 193, 39, 213, 44, 67, 160, 52, 64, 193, 18, 170, 119, 66, 0, 0, 0, 0, 2, 2, 49, 0, 112, 15, 86, 66, 63, 148, 214, 65, 174, 67, 135, 193, 148, 209, 4, 195, 17, 9, 197, 191, 57, 170, 187, 194, 0, 0, 0, 0, 3, 66, 37, 0, 35, 216, 80, 66, 244, 135, 6, 66, 8, 37, 193, 193, 5, 87, 2, 195, 200, 60, 138, 193, 102, 27, 180, 64, 0, 0, 0, 0, 198, 13, 0, 0])

In [6]:
from pyper.io import io_utils

In [7]:
df1 = pd.DataFrame()
for i in range(len(df)):
    df2 = io_utils.extract_data_from_acceleration_frame(df[i], "continuous", orientation="euler_degree", conv_factor=viper.conf['conversion_factor']['euler_degree'])
    df1 = pd.concat([df1, df2], ignore_index=True)
# df1[30:100]

In [8]:
df1

,sensor_n,frames,time,x,y,z,azimuth,elevation,roll,x_acc,y_acc,z_acc,xyz_acc_magnitude
0,1,1117,2022-05-11T12:47:20.905915,26.121796,32.486656,-4.890041,99.442749,94.421997,-125.194702,2.939941,8.388184,0.0,0.0
1,2,1117,2022-05-11T12:47:20.905915,28.575197,32.784153,-6.945647,-33.178711,94.460449,151.792603,13.575195,-7.638672,0.0,0.0
2,3,1117,2022-05-11T12:47:20.905915,33.453663,34.217072,-8.685305,-163.306274,-85.517578,-135.395508,2.601562,-7.692871,0.0,0.0
3,4,1117,2022-05-11T12:47:20.905915,40.235474,34.263451,-9.587790,-148.793335,-85.506592,-1.076660,4.892090,8.291016,0.0,0.0
4,1,1119,2022-05-11T12:47:20.913919,26.126141,32.489037,-4.886644,98.772583,94.421997,-101.991577,2.535645,8.388184,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
963,4,1597,2022-05-11T12:47:22.905628,40.220131,34.899914,-9.397334,15.254517,-85.512085,-15.386353,-8.214355,8.282715,0.0,0.0
964,1,1599,2022-05-11T12:47:22.913899,26.428234,33.614071,-3.318274,132.533569,94.323120,37.419434,-4.362305,8.395508,0.0,0.0
965,2,1599,2022-05-11T12:47:22.913899,28.286427,33.631031,-5.761959,-49.048462,94.411011,-133.363037,-6.595703,-7.645508,0.0,0.0
966,3,1599,2022-05-11T12:47:22.913899,32.995201,34.849270,-8.254629,14.057007,-85.512085,-116.163940,-10.043945,-7.684082,0.0,0.0
967,4,1599,2022-05-11T12:47:22.913899,40.214043,34.911953,-9.396967,-6.322632,-85.517578,10.980835,-15.366211,8.282715,0.0,0.0

In [3]:
viper.get_single_pno(dev=dev, ep=ep, pno_mode="standard")

error: unpack requires a buffer of 4 bytes